
body{
    background-color:white;
    font-family:'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin:0;
    align-items: center;
}

header{
    background-color: white;
    margin: 0%;
    padding:15px 10px 15px 15px;
    width: 100%;
    box-shadow: 0 0 30px 0 rgb(204, 204, 204);
    top:0;
    position: sticky;
    z-index: 3;
}
nav{
    width: 100%;
    justify-content: end;
}
ul{
    list-style: none;
    display:flex;
    justify-content: center;
    font-size: 1.1em;
    height: 30px;
    padding: 0px;
}
a{text-decoration: none;
    color: black;
    justify-content: center;
    font-size: 1em;
}
a:focus{
    color:#29cabd;
    padding: 10px 20px;
    border: solid 1px #29cabd;
    border-radius:80px;
    box-shadow: #29cabd 0px 0px 3px 0px;
}
a[href="#contacto"]{
    color:white;
    padding: 10px 20px;
    border-radius: 80px;
    background-color:#29cabd;
}
a[href="#contacto"]:hover{
    background-color: #056159;
}
a[href="#contacto"]:active{
    background-color: #056159;
    box-shadow: #056159 3px;
}
.links{ 
    font-size:18px;
    padding:10px 20px;
    color: #000000;
    justify-content: center;
}

/*SECCION PRESENTACION*/
.contenedor-presentacion{
    display:flex;
    align-items:center;
    justify-content: center;
    margin:0;
    background-color:white;
    padding: 0px 25px 140px 120px;
}
.presentacion{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
}
.h1-presentacion{
    color: #29cabd;
    font-size: 4em;
    font-weight:900px;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}
.h2-presentacion{
    padding-left:0px;
}
.p-presentacion{
    margin: 0;
    font-size: 1em;
    padding: 0;
}
.boton-presentacion{
    font-size: 1rem;
    color: white;
    padding: 10px 20px;
    border-radius: 80px;
    background-color:#29cabd;
    margin-top: 40px;
    margin-left: 5px;
    width: 150px;
    text-align:center;
    border: 0;
}
.boton-presentacion:hover{
    background-color: #056159;
}
.boton-presentacion:active{
    color:#ffffff;
    background-color: #056159;
    box-shadow:  #056159 3px;
}
.contenedor-imagen{
    max-width: 900px;
    width: 40%;
    margin:250px 0 250px 60px;
}
.imagen-animada{
    border-radius: 50px;
    width: 100%;
}

/**SECCION CONOCIMIENTOS Y PROYECTOS**/
.seccion-conocimientos{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 100px 0px;
    width: 100%;
    background-color: rgb(241, 242, 245);
    text-align: center;
    justify-content: right;
    align-items: center;
}
.h1-subtitulos{
    justify-content: center;
    font-weight: 900px;
    font-size: 2.5rem;
    margin-bottom: 20px;
    padding-top:100px;
}
.contenedor-tarjetas{
    width:60vw;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content:center;
    margin:50px 0px;
}
.tarjeta{
    background-color:white;
    width: 250px;
    height: 200px;
    justify-content: center;
    margin: 10px;
    border-radius:10px;
    border: 1px solid rgb(202, 199, 199);
}
.tarjeta:hover{
    border: 1px solid #29cabd;
    color:#29cabd;
}
.seccion-proyectos{
    display: flex;
    flex-direction: column;
    width: 87vw;
    padding: 0 0 110px 0;
    background-color:white;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.tarjeta-proyecto{
    background-color: white;
    width: 250px;
    height: 250px;
    justify-content: center;
    border-radius:10px;
    border: 1px solid rgb(202, 199, 199);
    margin: 10px;
}
.tarjeta-proyecto:hover{
    border: 1px solid #29cabd;
    color:#29cabd;
}
.p-proyecto{
    text-align: center;
    width: 30%;
    padding: 0;
    font-size: 1rem;
}
.imagen-proyecto{
    max-width: 250px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: block;
    border-radius: 5%;}

.fa-html5{
    font-size: 6rem;
    margin-top: 20%;
    color: rgb(214, 93, 6);}

.fa-css3-alt{
    font-size: 6rem;
    margin-top: 20%;
    color: rgb(45, 163, 231);}

.fa-sass{
    font-size: 6rem;
    margin-top: 20%;
    color: rgb(241, 59, 156);}

.fa-js{
    font-size: 6rem;
    margin-top: 20%;
    color: rgb(243, 199, 87);}

.fa-react{
    font-size: 6rem;
    margin-top: 20%;
    color: rgb(99, 235, 235);}

.fa-git-alt{
    font-size: 6rem;
    margin-top: 20%;
    color: rgb(248, 110, 18);}

/**SECCION CITA**/
.cita{
    display: flex;
    flex-direction: column;
    height:40vh;
    justify-content: center;
    background-color: #056159;
    align-items: center;
    color: #000000;
    padding: 110px 0px;
    width: 100vw;
}
.p-cita{
    color: #ffffff;
    width: 60vw;
    text-align: center;
    margin:0%;
    padding: 0%;
}
.h2-cita{
    color: #ffffff;
    font-weight: 900;
}
.fa-quote-right{
    font-size: 7rem;
    justify-content: center;
    color: #ffffff;}


/**SECCION DE CONTACTO**/
.seccion-contactos{
    display: flex;
    background-color:rgb(241, 242, 245);
    justify-content:center;
    text-align: left;
    width: 99.4vw;

}
.contenedor-contacto{
    display:flex;
    flex-direction: row;
    background-color:white;
    width: 65vw;
    height: 70vh;
    justify-content: center;
    text-align: left;
    margin:180px 0px; 
    border-radius: 15px;
    border:1px solid rgb(202, 199, 199);
}
.contactame{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 60px 15px 10px 0px;
}
.h2-contacto{
    margin-left: 0px;
    font-size: 2.5rem;
}
.iconos-contacto{
    flex-direction: column;
    margin-left:10px;
}
.red-contacto:hover{
    color: #458a6d;
}
.form-text{
    margin: 60px 0px 10px 15px;
    width: 50%;
}
.contenedor-label-1{
    display:flex;
    justify-content: space-between;
    margin:10px 50px 0px 0px;
}
.boton-form{
font-size: 1rem;
color: white;
padding: 10px 20px;
border-radius: 80px;
background-color:#056159;
margin-top: 40px 0px 30px 5px;
width: 150px;
text-align:center;
border: 0;
}
.boton-form:hover{
    background-color: #29cabd;
}
.boton-form:active{
    color:#ffffff;
    background-color:#29cabd;
    box-shadow:  #29cabd 3px;
}

#form-text{
    display: flexbox;
    flex-direction: row;
}

.p-form{
    margin: 0;
    padding: 0;
    justify-content: left;
    color: black;
    margin-top: 5px;
}
input{
    border: 0px;
    border-radius:15px;
    padding: 10px;
    justify-content:center;
    background-color:rgba(202, 199, 199, 0.274);
    margin: 10px 0px;
    outline: none;
}
input:focus{
    box-shadow:#056159 0px 0px 3px 0px;
    border:solid 1px #056159;
}
.contenedor-label-2{
    display:block;
}
.contenedor-label-2[input]{
    display: inline-flex;
    width: 100%;
}
#input-email{
    width:85%;
}
textarea{
    border: 0px;
    border-radius:15px;
    padding: 10px;
    justify-content:center;
    background-color:rgba(202, 199, 199, 0.274);
    margin: 10px 0px;
    outline: none;
    width: 85%;
    height: 150px;
}
textarea:focus{
    box-shadow:#056159 0px 0px 3px 0px;
    border:solid 1px #056159;
}

/**SECCION PIE DE PAGINA**/
.seccion-footer{
    display: flex;
    flex-direction: column;
    background-color:#056159;
    padding:0;
    width: 100%;
    justify-content: center;}

footer{
    margin: 0%;
    padding-left: 10;}
.font-footer{
    color: black;
}
span.footer-texto{
    text-align: center;
}
.footer-texto{
    color: #ffffff;
}
.iconos-footer{
    text-align: center;
    margin:0px;
}
/*LETRAS*/
h1{
    display: flex;
    font-size: 4em;
    font-weight:1000;
    color:#000000;
    margin: 25px;
}
h2{
    display: flex;
    margin: 10px 0 10px 5px;
    font-size:2rem;
}
h3{color:#000000;
    font-size: 0.8em;
    font-style :initial;
}
p{
    display: flex;
    padding-left: 25%;
    border-radius:15px;
    font-size: 1rem  ;
    color: rgb(27, 27, 27);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}
span{margin: 15px 10px 35px 0px;
    font-size: 1rem;
    text-align:left;
    justify-content: left;
}

/*ICONOS*/
.fa-carrot{
    font-size: 1rem;
    margin: 2% 0%;}

.fa-github{
    font-size: 1.3rem;
    margin: 2% 0%;
    color:#056159;
    padding: 8px;
    border: 1px;
    border-radius: 100%;
    background-color: #ffffff;
}
.fa-github:hover{
    font-size:1.5rem;
    padding: 10px;
    border: 1px;
    border-radius: 100%;
    color: #ffffff;
    background-color: #29cabd;
}

.fa-linkedin-in{
    font-size: 1.3rem;
    margin: 2% 0%;
    color:#056159;
    padding: 8px;
    border: 1px;
    border-radius: 100%;
    background-color: #ffffff;
}
.fa-linkedin-in:hover{
    font-size: 1.5rem;
    padding: 10px;
    border: 1px;
    border-radius: 100%;
    color: #ffffff;
    background-color: #29cabd;
}

.fa-phone{
    font-size: 1.3rem;
    margin: 2% 0%;
    color:#056159;
    padding: 8px;
    border: 1px;
    border-radius: 100%;
    background-color: #ffffff;
}
.fa-phone:hover{
    font-size: 1.5rem;
    padding: 10px;
    border: 1px;
    border-radius: 100%;
    color: #ffffff;
    background-color:#29cabd;
}

/*MEDIA QUERYS*/

@media(max-width:1150px){
    .contenedor-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align:center;
        align-items:left;
        padding: 0px 60px 80px 60px;
        margin:0px;
        width: 100%;
        height: 120vh;
        border: none;
        border-radius: 0;
    }
    .contactame{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:1017px){
    .h1-presentacion{
        padding: 0px;
        margin: 0px;
        font-size: 3.5rem;
    }
}
@media (max-width: 950px){
    .contenedor-presentacion{
        flex-direction: column;
        transition: 0.5s;
        margin-top: 10px;
        margin-bottom: 180px;
        padding: 0px;
        justify-content: space-between;
        align-items: center;}
}
@media (max-width:900px){
    header{
        display:none;
    }
    .h1-presentacion{
        justify-content: center;}
    .contenedor-imagen{
        width: 250px;
        border-radius: 0.1;
        transition: 0.5s;
        margin:150px;
        justify-content: center;
    }
    .seccion-conocimientos{
        margin-top:100px;
    }
}
@media(max-width:700px){
    .contenedor-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0px 0px 50px 0px;
        margin-top: 0px;
        height: 120vh;
        border: none;
        width: 100%;
    }
    .contactame{
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size:0.8em;
    }
    .form-text{
        justify-content: center;
    }
    .contenedor-label-1{
        display: flex;
        flex-direction: column;
    }
    .iconos-contacto{
        padding-right: 0px;
        margin-left: 0%;
    }
}
@media(max-width:575px){
    ul{
        font-size:0.07em;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 50px;
        padding-top: 100px;
    }
    .iconos-footer{
        display: none;
    }
    .h2-contacto{
        font-size:2rem;
    }
    h2{
        font-size: 2rem;
        display: block;
    }
    .seccion-footer{
        margin-top: 50px;
    }
}
@media (max-width:500px){
    h1{
        font-size: 2rem;
    }
    .contenedor-tarjetas{
    margin: 0px;
    }
    .contenedor-presentacion{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 0;
    }
    .p-presentacion{
        margin-left:40px
    }
    .boton-presentacion{
        font-size: 0.5rem;
        padding: 5px;
        width: 60px;
        margin-left:70px
    }
    .seccion-conocimientos{
        margin-top:0;
        padding-top: 0;
    }
}
@media(max-width:400px){
    .contenedor-imagen{
        width: 150px;
        margin-top: 100px;}
    .contenedor-presentacion{
        height: 550px;
        justify-content: center;
        margin: 100px 0px;
    }
    .p-presentacion{
        justify-content:center;
        margin-left: 15px;
    }
    .h1-presentacion{
        justify-content: center;
    }
    .boton-presentacion{
        display: none;
    }
    .footer-texto{
        padding-top: 15px;
    }
}
@media (max-width:251px){
    h1{font-size:1.5rem;}
}
@media(max-width:215px){
    .cita{
        padding: 20px;
    }
}




